<div class="content">
    <div class="logo">
        Nexus
        <img src="/favicon-48.png" height="48" width="48" />
        Arcade
        <span style="font-size: 0.5rem">beta</span>
    </div>
    <div class="links">
        <app-button class="settings-button" (clicked)="openDialog()">
            Settings
        </app-button>
        <a
            href="https://ko-fi.com/arcaneaj"
            target="_blank"
            rel="noopener noreferrer"
            class="kofi-link"
            ><img src="/kofi_s_logo_nolabel.webp" height="48" width="48"
        /></a>
        <a
            href="https://discord.gg/fWNCZdfuMp"
            target="_blank"
            rel="noopener noreferrer"
            class="discord-link"
        >
            <div class="fadein">
                <img
                    id="f1"
                    src="/discord-mark-blue.svg"
                    height="32"
                    width="32"
                />
                <img
                    id="f2"
                    src="/discord-mark-white.svg"
                    height="32"
                    width="32"
                />
            </div>
        </a>
    </div>
</div>
