mat-dialog-content {
    min-width: 25vw;
    max-width: 40vw;
    height: 100%;
}

mat-tab-group,
::ng-deep.mat-mdc-tab-body-wrapper {
    height: 100%;
}

@media (max-width: 700px) {
    mat-dialog-content {
        max-width: 80vw;
    }
}

.node-selected {
    background-color: red;
}

app-button:hover > ::ng-deep button {
    background: rgb(255, 171, 243, 0.1);
    color: rgb(255, 171, 243);
}

app-button > ::ng-deep button {
    background: none;
    color: rgb(255, 171, 243);
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
