mat-dialog-content {
    min-width: 25vw;
    height: 100%;
}

mat-tab-group,
::ng-deep.mat-mdc-tab-body-wrapper {
    height: 100%;
}

.graph {
    width: 80vw;
}

@media (max-width: 700px) {
    mat-dialog-content {
        max-width: 80vw;
    }

    .graph {
        width: 100%;
    }
}

app-price-result-tree {
    height: 100%;
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none !important;
}
