.content {
    width: 100%;
    height: calc(100vh - 98px);
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--mat-app-background-color, transparent);
}

.discord {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.kofi {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.modal {
    border: none;
    padding: 0px;
}

.close-button {
    background: rgb(255, 176, 207);
    border: none;
    width: 100%;
    height: 42px;
    overflow: hidden;
}

.kofi-modal {
    padding: 0px;
    background: #f9f9f9;
    border: none;
    width: 100%;
}

dialog:-internal-dialog-in-top-layer::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.sort {
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(255, 171, 243);
    background: linear-gradient(
        90deg,
        rgba(255, 171, 243, 1) 0%,
        rgba(30, 26, 29, 1) 100%
    );
    box-sizing: border-box;
    ::ng-deep .mdc-list-item__content {
        .mdc-list-item__primary-text {
            color: #5b005b;
        }
    }
}

.item {
    position: relative;
    background-color: #ffabf3;
    color: #5b005b;
    ::ng-deep div {
        ::ng-deep .loader:after {
            color: #5b005b;
        }
    }

    border: 15px solid var(--mat-app-background-color, transparent);
    height: 33.3333333333333333333333333%;
    box-sizing: border-box;
    flex-basis: 33.3333333333333333333333333%;
    overflow-x: hidden;
    overflow-y: auto;
}

.item:nth-child(odd) {
    background-color: #ffb4ab;
    color: #690005;
    ::ng-deep div {
        ::ng-deep .loader:after {
            color: #690005;
        }
    }
}

.empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
}

.back-button {
    visibility: hidden;
    border: none;
    width: 42px;
    height: 42px;
    background: none;
}

@media (max-width: 700px) {
    .back-button {
        visibility: visible;
    }

    .item {
        height: 100vw;
        width: 100vw;
        flex-basis: 100%;
        overflow-x: clip;
    }

    .sort {
        justify-content: space-between;
    }
}
