<div class="content hidden-mobile">
    <app-input
        class="search-form-field"
        [height]="56"
        (keydownEnter)="selectFirst()"
        (keydownEscape)="deselectLast()"
        [(content)]="searchFilter"
    ></app-input>
    <div class="buttons">
        <app-button
            height="42px"
            width="50%"
            class="reset-button"
            (clicked)="clearSelection()"
        >
            Reset
        </app-button>
        <app-button
            height="42px"
            width="50%"
            class="calculate-button"
            (clicked)="calculate()"
        >
            Calculate
        </app-button>
    </div>
    @if (items && items.length > 0) {
        <div class="item-select">
            <div class="feature-toggles">
                <div class="only-crafted">
                    <mat-checkbox [(ngModel)]="onlyCrafted">
                        Only Crafted
                    </mat-checkbox>
                </div>
                <div class="craft-level">
                    iLevel:
                    <app-input-number
                        class="craft-level-input"
                        [height]="56"
                        [min]="0"
                        [max]="999"
                        [(content)]="minLevel"
                    >
                    </app-input-number>
                    <app-input-number
                        class="craft-level-input"
                        [height]="56"
                        [min]="0"
                        [max]="999"
                        [(content)]="maxLevel"
                    >
                    </app-input-number>
                </div>
            </div>
            <mat-list>
                <cdk-virtual-scroll-viewport
                    [itemSize]="50"
                    class="virtual-viewport"
                >
                    <mat-list-item
                        *cdkVirtualFor="
                            let item of items
                                | filter
                                    : searchFilter
                                    : onlyCrafted
                                    : minLevel
                                    : maxLevel
                                | order: changeFlag
                        "
                        (mousedown)="onSelect(item)"
                        [ngClass]="{ 'item-selected': item.selected }"
                    >
                        {{ item.Name }}
                    </mat-list-item>
                </cdk-virtual-scroll-viewport>
            </mat-list>
        </div>
        <p-toast
            position="bottom-left"
            [showTransformOptions]="'translateY(0%)'"
            [showTransitionOptions]="'100ms'"
            [hideTransitionOptions]="'0ms'"
            [hideTransformOptions]="'translateY(0%)'"
            [breakpoints]="{
                '700px': {
                    width: 'calc(100% - 48px)',
                    right: '24px',
                    left: '24px',
                    bottom: '24px',
                },
            }"
        >
            <ng-template let-message pTemplate="headless">
                <section class="toast-container">
                    <div class="toast-content">
                        {{ message.summary }}
                    </div>
                </section>
            </ng-template>
        </p-toast>
    } @else {
        <div class="loader-wrapper">
            <span class="loader"></span>
            Loading items...
        </div>
    }
</div>
