<div class="content">
    <mat-form-field class="search-form-field" appearance="outline">
        <mat-label>Item Search</mat-label>
        <input matInput
            type="text" 
            (keydown.enter)="selectFirst()"
            (keydown.escape)="deselectLast()"
            [(ngModel)]="searchFilter">
        @if (searchFilter) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchFilter=''">
                <mat-icon>close</mat-icon>
            </button>
        }
    </mat-form-field>
    <div class="buttons">
        <button mat-flat-button color="warn" class="half-button reset-button" (mousedown)="clearSelection()">Reset</button>
        <button mat-flat-button color="primary" class="half-button calculate-button" (mousedown)="calculate()">Calculate</button>
    </div>
    <mat-list>
        <cdk-virtual-scroll-viewport [itemSize]="50" class="virtual-viewport">
            <mat-list-item
                *cdkVirtualFor="let item of (items | filter: searchFilter | order: changeFlag)"
                (mousedown)="onSelect(item)"
                [ngClass]="{'item-selected': item.selected}">
                {{item.Name}}
            </mat-list-item>
        </cdk-virtual-scroll-viewport>
    </mat-list>
</div>