.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--mat-app-background-color, transparent);
}

.search-form-field {
    height: 56px;
}

.buttons {
    height: 42px;
    width: 100%;
}

.virtual-viewport {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
    border-radius: 0px;
}

.item-select {
    height: calc(100% - 98px);
}

.feature-toggles {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.only-crafted {
    height: 56px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.craft-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.craft-level-input {
    height: 56px;
    width: 5rem;
}

mat-list {
    padding: 0px;
    height: calc(100% - 56px);
}

mat-list-item:hover {
    background: #2c262a;
}

.reset-button > ::ng-deep button {
    background: rgb(255, 180, 171);
    background: linear-gradient(
        90deg,
        rgba(255, 180, 171, 1) 0%,
        rgba(255, 176, 207, 1) 100%
    );
    color: #690005;
}

.calculate-button > ::ng-deep button {
    background: rgb(255, 176, 207);
    background: linear-gradient(
        90deg,
        rgba(255, 176, 207, 1) 0%,
        rgba(255, 171, 243, 1) 100%
    );
    color: #5b005b;
}

::ng-deep .p-toast-message {
    margin: 0px;
}

.toast-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toast-content {
    margin: 10px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.item-selected {
    box-sizing: border-box;
    border: 5px solid var(--mat-app-background-color, transparent);
    ::ng-deep .mdc-list-item__content {
        .mdc-list-item__primary-text {
            color: #5b005b;
        }
    }
    // background-color: #ffabf3;
    background: rgb(255, 171, 243);
    background: linear-gradient(
        90deg,
        rgba(255, 171, 243, 1) 75%,
        rgba(0, 0, 0, 0) 100%
    );
}

.item-selected:nth-child(odd) {
    // background-color: #ffb4ab;
    ::ng-deep .mdc-list-item__content {
        .mdc-list-item__primary-text {
            color: #690005;
        }
    }
    background: rgb(255, 180, 171);
    background: linear-gradient(
        90deg,
        rgba(255, 180, 171, 1) 75%,
        rgba(0, 0, 0, 0) 100%
    );
}

.item-selected:not(:first-of-type) {
    border-top: 0px;
}

.loader-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader {
    grid-row-start: 3;
    grid-row-end: 10;
    justify-self: center;
    align-self: center;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #ffb4ab;
}

.loader:before,
.loader:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #ffabf3;
    transform: rotateY(70deg);
    animation-delay: 0.4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: 0.2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 0.2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -0.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
}
